li {
	list-style-type: none;
}

.component {
	font-weight: bold;
}

.heading {
	font-style: italic;
}

.xspan {
	display: inline-block;
	width: 300px;
}

.changed {
	font-weight: bold;
}

.CodeMirror {
	border: 1px solid #000;
	background: #eee;
	height: auto;
	font-family: monospace;
	min-height: 20px;
}

.CodeMirror-wrap {
	min-height: 20px;
}

.CodeMirror-hscrollbar {
	display: none;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.outbox {
	border: 1px solid #000;
	margin-bottom: 6px;
	background-color: #f3f6ff;
	padding-left: 5px;
}