**/.classpath
**/.gradle
**/.project
**/.settings
**/bin
**/pom.xml
.gradle/
**/lib/dependencies
**/build/
mylyn/
*.probp
*.viz
*.class
nullconfig.groovy
prob_log.txt
de.prob2.kernel/groovyTests/counter/machine.bum/
de.prob2.kernel/groovyTests/Lift/levels/
de.prob2.kernel/groovyTests/Lift/lift0/**
de.prob2.kernel/groovyTests/machines/Lift/
de.prob2.kernel/groovyTests/machines/references/Foo
de.prob2.kernel/groovyTests/machines/scheduler/
de.prob2.kernel/groovyTests/Scheduler/Scheduler0/
de.prob2.kernel/groovyTests/machines/InvalidModel/createErrors/
de.prob2.kernel/groovyTests/machines/csp/CSP_MODEL/
de.prob2.kernel/groovyTests/machines/MultipleExample
de.prob2.kernel/src/test/resources/tla/Foo/
/de.prob2.kernel/src/test/resources/tla/Choose/prob2preferences
/de.prob2.kernel/src/test/resources/tla/Definitions/prob2preferences
/de.prob2.kernel/src/test/resources/tla/ForDistribution/Club/prob2preferences
de.prob2.kernel/.jruby
de.prob2.kernel/.sass-cache
de.prob2.kernel/clojurescript/prob-ui/out
de.prob2.kernel/clojurescript/prob-ui/target
de.prob2.kernel/clojurescript/prob-ui/prob_ui.js
de.prob2.kernel/src/main/resources/gui/js/prob_ui.js
de.prob2.kernel/src/main/resources/gui/style/prob_ui.css
/de.prob2.kernel/groovyTests/machines/Empty/prob2preferences
/de.prob2.kernel/ltl_graphdump.pl
/de.prob2.kernel/temp/Testing.tla
de.prob2/resources/public/gui/css_generated
de.prob2/resources/public/gui/js_generated
ProB.log.*.log
