.gradle
.idea/
*.iml
*.ipr
de.prob2.kernel/groovyTests/Lift/lift0.eventb
figwheel_server.log
system.properties
prob_log.txt
prob_test_log.txt
ProB.log.*
ProB.test.log.*
prob2preferences
*-init.clj
de.prob2/src/cljs/de/prob2/generated
de.prob2/src/clj/de/prob2/generated
ltl_graphdump.pl
*.cljs#
.nrepl-history
local.*
prob2-build.properties
de.prob2.kernel/doc
