language: java
jdk:
- oraclejdk8
before_install:
- openssl aes-256-cbc -pass pass:$ENCRYPTION_PASSWORD -in secring.gpg.enc -out secring.gpg
  -d
- openssl aes-256-cbc -pass pass:$ENCRYPTION_PASSWORD -in pubring.gpg.enc -out pubring.gpg
  -d
- openssl aes-256-cbc -pass pass:$ENCRYPTION_PASSWORD -in gradle.properties.enc -out
  de.prob2.kernel/gradle.properties -d
branches:
  only:
  - master
  - develop
addons:
  sonarcloud:
    branches:
    - master
    - develop
sudo: false
install: /bin/true
script:
- TERM=dumb ./de.prob2.kernel/gradlew -b de.prob2.kernel/build.gradle clean test integrationtests sonarqube --stacktrace
after_success:
- TERM=dumb ./de.prob2.kernel/gradlew -b de.prob2.kernel/build.gradle uploadArchives
env:
  global:
  - GRADLE_OPTS="-Xms128m"
  - secure: DtyDUbGXZOZzuYWvCnL8eSaKpM6fQXQqnDBQzwD5OoBaCv6S3ijGHvNmie2tGTe5c93siiRU/doaJNH5PN6JN8Fbw+nxBJRIzKpqjVFmLPy2hCwPXum1BI4Nsf4vH4fZ4eENK1mFUDUR4MWrTAk9Vl05jIjEvsNlkrusBnVWFmg=
  - secure: CzvIhQI58TrL9egcS8Mv9JwxczwxhghuOR81EcD1H0lzt5U0bzNWYgRlBv2gntVg9Rv7O5eIOEcvc03lYRgIRbMfNsFDmJwne3CoCdYq7CpXyiQMWLo/C9NEzVIEKBZMIZ+/nx5MJsdG7fqjT/PzNJi43/jOtZSWbnWp8kNvbTM=
  - secure: KSDgIgBK/aJmpKf2xCcvOJalVjvTBUv4xXtoQlThRSalk+7OgoktTbF0YDW8mPuLk7fhoqPC4FYu+f0aw+iiNEdBLxAfAWfiACcN0qkVAYgJKefBAThfLLuM89mR5crjaaXQCZbNql4XrPchx2m9GDR65imUfF2fTMjYPkwWieA=
