language: groovy
matrix:
  include:
    - jdk: oraclejdk8
      env: DO_AFTER_SUCCESS=true
    - jdk: oraclejdk9
    - jdk: openjdk10
      env: REPLACE_CACERTS=true
    - jdk: openjdk11
      env: REPLACE_CACERTS=true
  allow_failures:
    - jdk: openjdk10
    - jdk: openjdk11
before_install:
# Always use the system-wide certificates (OpenJDK doesn't include the certificates needed to connect to oss.sonatype.org)
- |
  if [[ "${REPLACE_CACERTS}" == "true" ]]
  then
    rm "${JAVA_HOME}/lib/security/cacerts"
    ln -s "/etc/ssl/certs/java/cacerts" "${JAVA_HOME}/lib/security/cacerts"
  fi
- openssl aes-256-cbc -pass pass:$ENCRYPTION_PASSWORD -in secring.gpg.enc -out secring.gpg -d
- openssl aes-256-cbc -pass pass:$ENCRYPTION_PASSWORD -in pubring.gpg.enc -out pubring.gpg -d
- openssl aes-256-cbc -pass pass:$ENCRYPTION_PASSWORD -in gradle.properties.enc -out de.prob2.kernel/gradle.properties -d
branches:
  only:
  - master
  - develop
addons:
  sonarcloud:
    organization: prob2
install: /bin/true
script:
- TERM=dumb ./de.prob2.kernel/gradlew -b de.prob2.kernel/build.gradle clean allTests --info --stacktrace --warning-mode=all
after_success:
# Run uploadArchives and sonarqube only on one of the workers
- |
  if [[ "${DO_AFTER_SUCCESS}" == "true" ]]
  then
    TERM=dumb ./de.prob2.kernel/gradlew -b de.prob2.kernel/build.gradle uploadArchives --info --stacktrace --warning-mode=all
    git fetch --unshallow
    TERM=dumb ./de.prob2.kernel/gradlew -b de.prob2.kernel/build.gradle sonarqube --info --stacktrace --warning-mode=all
  fi

env:
  global:
  - secure: DtyDUbGXZOZzuYWvCnL8eSaKpM6fQXQqnDBQzwD5OoBaCv6S3ijGHvNmie2tGTe5c93siiRU/doaJNH5PN6JN8Fbw+nxBJRIzKpqjVFmLPy2hCwPXum1BI4Nsf4vH4fZ4eENK1mFUDUR4MWrTAk9Vl05jIjEvsNlkrusBnVWFmg=
  - secure: dLFmLpS4eeRw5LWHau65MoBXL5G4/TK+cepaSQrF3h+x8AziCRUPrPaCpDpjtV/qZC4/R96AhbLUxAxC79GX1Vc105KWEh7AmZvM+1y2IwS9A0NYl14Alz07MwNlD97slQRVt2gTyn9AUfy0QTm6DNNPfb0+D/yfzdecYtIeOG8=
