/* CSS styling for the Value vs Time visualization */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.x.axis path {
   	display: none;
}

.line {
   	fill: none;
   	stroke: #4682B4;
   	stroke-width: 1.5px;
}

.connection {
  fill: none;
}

.connection text {
  fill: #000;
}

.entry {
  padding-left: 15px;
  padding-right: 15px;
}

.disabled {
    opacity: 0.1;
}

.click {
    cursor: pointer;
}

.box {
  height: 12px;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}