/* CSS styling for the Formula visualization */
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.entry {
  padding-left: 15px;
  padding-right: 15px;
}

#header {
  margin: 25px 25px 0px 25px;
}

.disabled {
  opacity: 0.1;
}