body, html {
  height: 100%;
}

#vis_container {
}

.modal-dialog {
	width:95%;
	height:95%;
}

.modal-content {
}

.modal-header {
	border:0;
}

.modal-footer {
	border:0;
	margin:0;
}

.modal-body {
	padding:0 10px 0 10px;
}

#modal_svgedit {
	height:100%;
}

/* NAVIGATION */
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
}
ul#navigation li a {
    display: block;
    float:left;
    margin-top: -2px;
    width: 70px;
    background-color:#E7F2F9;
    background-repeat:no-repeat;
    background-position:50% 10px;
    border:1px solid #BDDCEF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    text-decoration:none;
    text-align:center;
    padding-top:50px;
}
ul#navigation li a:hover{
     background-color:#CAE3F2;
}
ul#navigation .nav_open_template a {
    background-image: url(open-template.png);
}
ul#navigation .nav_edit_template a {
    background-image: url(edit-template.png);
}
.ui-dialog .ui-dialog-content {
	padding: 5px 0 0 0;
}
