body, html {
  height: 100%;
}

#template_container {
	margin-top: 25px;
	display: inline-block;
}

#chooseTemplateBox {
	width:100%;
	height:50px;
	padding:15px;
	text-align:center;
	border: 1px solid orange;
	font-weight:bold;
	dislplay:block;
}

#chooseTemplateBox p {
	text-align:center;
}

.code-block {
	margin: 10px;
	float: left;
}

.entry {
	padding-left: 15px;
	padding-right: 15px;
}

.modal-dialog {
	width:100%;
}