

.history-view,.trace-selector li {
    list-style-type: none;
    cursor: pointer;
}

.history-view a {
    color: black;
}

.animator-list a {
    color: black;
}

.history-view .future {
    font-style: italic;
    color: #888;
}

.history-view .current {
    font-weight: bold;
}

.history-view li:nth-child(even) {
    background-color: white;
}

#animator-remove-btn {
    margin-top: 3px;
    margin-right: 6px;
    cursor: pointer;
}


.history-view li:nth-child(odd) {
    background-color: #f3f6ff;
}

.animator-list li:nth-child(even) {
    background-color: white;
}

.animator-list li:nth-child(odd) {
    background-color: #f3f6ff;
}

.history-view ul {
    padding-left: 0px;
}

.trace-selector ul {
    padding-left: 0px;
}

.animator-list li {
    padding-left: 16px;
}

.history-view #sort {
    cursor: pointer;
}

.history-view .transparent {
    zoom: 1;
    filter: alpha(opacity=10);
    opacity: 0.1;
}

.animator-list .active {
    font-weight: bold;
    background-color: #c3c6df;
}


.animator-sublist {
    margin-top: 8px;
    margin-bottom: 8px;
}

.animator-sublist .model {
    background-color: #666666;
    padding: 4px;
    padding-left: 18px;
    border-radius: 6px;
    color: white;
}

#hierarchy-view {
    height: 300;
    width: 300;
    left: 0;
    top: 0;
}
