.history-view,.trace-selector li {
  list-style-type: none;
    cursor: pointer;
}

.history-view a {
   color: black;
}

.animator-list a {
   color: black;
}

.history-view .future {
    font-style: italic;
    color: #888;
}

.history-view .current {
    font-weight: bold;
}

.history-view li:nth-child(even) {
  background-color: white;
}

.history-view li:nth-child(odd) { 
  background-color: #f3f6ff;
}

.animator-list li:nth-child(even) {
  background-color: white;
}

.animator-list li:nth-child(odd) { 
  background-color: #f3f6ff;
} 

.history-view ul {
    padding-left: 0px;
}

.history-view #sort {
    cursor: pointer;
}

.history-view .transparent {
    zoom: 1;
    filter: alpha(opacity=10);
    opacity: 0.1;
}
