<div class="worksheetbox row" id="wsbox{{id}}">
	<div class="span10 editorbox">
		<div id="renderer{{id}}" style="display: block"></div>
	</div>
	<div class="controlfield">
		<button class="close">
			<a href="javascript:deleteBox({{id}})" class="close"> &times; </a>
		</button>
		<div class="btn-group">
			<button id="lang_button{{id}}"
				class="btn btn-mini btn-primary dropdown-toggle"
				data-toggle="dropdown">
				{{lang}} <span class="caret"></span>
			</button>
			<ul id="ts_menu" class="dropdown-menu">
				<li><a href="#"
					onclick="javascript:setBoxType({{id}},settings.groovy)">Groovy</a></li>
				<li><a href="#"
					onclick="javascript:setBoxType({{id}},settings.b)">B</a></li>
				<li><a href="#"
					onclick="javascript:setBoxType({{id}},settings.markdown)">Markdown</a></li>
				<li><a href="#"
					onclick="javascript:setBoxType({{id}},settings.javascript)">JavaScript
						(Browser)</a></li>
			</ul>
			</button>
		</div>
	</div>
</div>