<div id="ts" class="btn-toolbar" style="margin: 0;">
	<div class="btn-group">
		<button id="ts_button" class="btn btn-primary dropdown-toggle"
			data-toggle="dropdown">
			{{mode}} <span class="caret"></span>
		</button>
		<ul id="ts_menu" class="dropdown-menu">
			<li><a href="#"
				onclick="javascript:setDefaultType(settings.groovy)">Groovy</a></li>

			<li><a href="#" onclick="javascript:setDefaultType(settings.b)">B</a></li>

			<li><a href="#"
				onclick="javascript:setDefaultType(settings.markdown)">Markdown</a></li>

			<li><a href="#"
				onclick="javascript:setDefaultType(settings.javascript)">JavaScript
					(Browser)</a></li>
		</ul>
	</div>
</div>
