build/
bin/
.classpath
.project
.settings/**
.gradle/
logs/
*.swp
*.log
*~
! .gitkeep
.DS_Store
tmp/
PROB_LOGFILE_IS_UNDEFINED
.settings/org.eclipse.jdt.ui.prefs
src/main/resources/build.properties
config.groovy
.cache
.groovy/
**/*.dot
**/*.prob
*.dot
*.prob
build.properties
plugin.properties
plugin.xml
