<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
          <menuContribution
            locationURI="menu:debug">
             <command
                   commandId="de.prob.ui.bugreport"
                   label="Submit Bugreport"
                   style="push">
             </command>

      </menuContribution>
      
       
        <menuContribution
              allPopups="false"
              locationURI="popup:de.prob.ui.groovybinding">
           <command
                 commandId="de.prob.ui.remove_variable"
                 icon="icons/rem_co.gif"
                 label="Remove Variable"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="toolbar:de.prob.ui.BUnitView">
           <command
                 commandId="de.prob.ui.specifydirectory"
                 icon="icons/junit/etool16/new_testcase.gif"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="menu:analyze">
           <command
                 commandId="de.prob.ui.viz.pred"
                 label="Open Predicate Visualization"
                 style="push">
           </command>
           <command
                 commandId="de.prob.ui.viz.formula"
                 label="Open Time vs Value Visualization"
                 style="push">
           </command>
           <command
                 commandId="de.prob.ui.viz.statespace"
                 label="Open State Space Visualization"
                 style="push">
           </command>
           <command
                 commandId="de.prob.ui.BmsView"
                 label="Open BMotion Studio Visualization "
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="toolbar:de.prob.ui.model_check">
           <command
                 commandId="de.prob.ui.deadlock_check"
                 icon="icons/DeadlockCheck.png"
                 label="Deadlock Freedom Check"
                 mnemonic="D"
                 style="push">
           </command>
           <command
                 commandId="de.prob.ui.inv_check"
                 icon="icons/CBCInvariantCheck.png"
                 label="Invariant Preservation Check"
                 mnemonic="I"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="popup:de.prob.ui.StateView">
           <command
                 commandId="de.prob.ui.createFormViz"
                 style="push">
              <visibleWhen>
                 <with
                       variable="selection">
                    <iterate
                          operator="or">
                       <instanceof
                             value="de.prob.model.representation.IEval">
                       </instanceof>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="menu:groovy">
           <command
                 commandId="de.prob.ui.groovyconsole"
                 label="Open new Groovy console"
                 style="push">
           </command>
        </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      

            <command
                  defaultHandler="de.prob.ui.bunitview.SpecifyTestDirectoryHandler"
                  id="de.prob.ui.specifydirectory"
                  name="Specify Test Directory">
            </command>
            <command
                  id="de.prob.ui.bugreport"
                  name="Submit Bug Report">
            </command>
            <command
                  id="de.prob.ui.deadlock_check"
                  name="Deadlock Freedom Check">
            </command>
            <command
                  id="de.prob.ui.inv_check"
                  name="Invariant Preservation Check">
            </command>
            <command
                  id="de.prob.ui.viz.pred"
                  name="Open Predicate Visualization">
            </command>
            <command
                  id="de.prob.ui.viz.formula"
                  name="Open Value vs Time Visualization">
            </command>
            <command
                  id="de.prob.ui.viz.statespace"
                  name="Open State Space Visualization">
            </command>
            <command
                  id="de.prob.ui.BmsView"
                  name="Open BMotion Studio Visualization">
            </command>
            <command
                  description="Takes formula from State View and opens a visualization"
                  id="de.prob.ui.createFormViz"
                  name="Create Formula Visualization">
            </command>
            <command
                  id="de.prob.ui.groovyconsole"
                  name="Open Groovy Console">
            </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">      
     
      <handler
            commandId="de.prob.ui.specifytestdir">
         <class
               class="de.prob.ui.bunitview.SpecifyTestDirectoryHandler">
         </class>
      </handler>
      <handler
            commandId="de.prob.ui.bugreport">
         <class
               class="de.prob.ui.ticket.SubmitBugreportHandler">
         </class>
      </handler>
      <handler
            commandId="de.prob.ui.viz.pred">
         <class
               class="de.prob.ui.visualization.OpenPredicateVizHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.BmsView">
         <class
               class="de.prob.ui.visualization.OpenBmsViewHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.deadlock_check">
         <class
               class="de.prob.ui.constraint.DeadlockCheckHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.inv_check">
         <class
               class="de.prob.ui.constraint.InvariantCheckHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.viz.formula">
         <class
               class="de.prob.ui.visualization.OpenTimeValueVizHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.viz.statespace">
         <class
               class="de.prob.ui.visualization.OpenStateSpaceVizHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.createFormViz">
         <class
               class="de.prob.ui.stateview.CreateFormulaVisualizationHandler">
         </class>
      </handler>
      <handler
            commandId="de.prob.ui.groovyconsole">
         <class
               class="de.prob.ui.OpenGroovyHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.hhu.stups.prob"
            name="ProB">
      </category>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.operationview.OperationView"
            icon="icons/sample.gif"
            id="de.prob.ui.OperationView"
            name="Events">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.stateview.StateView"
            icon="icons/sample.gif"
            id="de.prob.ui.StateView"
            name="State Inspector">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.historyview.CurrentTraceView"
            icon="icons/sample.gif"
            id="de.prob.ui.HistoryView"
            name="Current Trace">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.animationsview.AnimationsView"
            icon="icons/sample.gif"
            id="de.prob.ui.AnimationsView"
            name="Current Animations">
      </view>
      <view
            allowMultiple="true"
            category="de.hhu.stups.prob"
            class="de.prob.ui.console.GroovyConsole"
            icon="icons/groovy.png"
            id="de.prob.ui.groovyconsole"
            name="Groovy Console"
            restorable="true">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.bunitview.BUnitView"
            icon="icons/sample.gif"
            id="de.prob.ui.BUnitView"
            name="BUnit Tests">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.statisticsview.StatisticsView"
            icon="icons/sample.gif"
            id="de.prob.ui.StatisticsView"
            name="Statistics">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.modelcheckingview.ModelCheckingView"
            icon="icons/Consistency.png"
            id="de.prob.ui.model_check"
            name="Model Checking"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="de.hhu.stups.prob"
            class="de.prob.ui.visualization.VizView"
            id="de.prob.ui.viz.VizView"
            name="Visualization"
            restorable="true">
      </view>

      <view
            allowMultiple="true"
            category="de.hhu.stups.prob"
            class="de.prob.ui.console.WorksheetView"
            icon="icons/star.png"
            id="de.prob.ui.worksheet"
            name="Worksheet"
            restorable="true">
      </view>


      <view
            class="de.prob.ui.view.LogView"
            icon="icons/sample.gif"
            id="de.prob.ui.log"
            name="Log View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="de.hhu.stups.prob"
            class="de.prob.ui.visualization.VizView"
            icon="icons/bms.png"
            id="de.prob.ui.BMotionView"
            name="BMotion HTML Visualization"
            restorable="true">
      </view>





   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.prob.ui.operationview.OperationView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="de.prob.ui.historyview.HistoryView"
               minimized="false"
               relationship="stack">
         </view>
         <view
               id="de.prob.ui.stateview"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="de.prob.ui.services.TraceActiveProvider">
         <variable
               name="de.prob.ui.trace.forward_service"
               priorityLevel="workbench">
         </variable>
         <variable
               name="de.prob.ui.trace.backward_service"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <sourceProvider
            provider="de.prob.ui.services.ModelLoadedProvider">
         <variable
               name="de.prob.ui.model_loaded"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
