<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
          <menuContribution
            locationURI="menu:debug">
             <command
                   commandId="de.prob.ui.bugreport"
                   label="Submit Bugreport"
                   style="push">
             </command>

      </menuContribution>
      
        <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <separator
               name="de.prob.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.prob.ui.starteventbanimation"
               icon="icons/prob.png"
               label="Start Animation / Model Checking"
               style="push">
            <visibleWhen>
      <with
            variable="selection">
         <iterate
               operator="or">
            <instanceof
                  value="org.eventb.core.IEventBRoot">
            </instanceof>
         </iterate>
      </with>
            </visibleWhen>
         </command>
         <separator
               name="de.prob.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>
        <menuContribution
              locationURI="toolbar:de.prob.ui.OperationView">
           <command
                 commandId="de.prob.ui.randomoperation"
                 icon="icons/resume.gif"
                 label="Execute Random Operations"
                 style="pulldown">
           </command>
           <command
                 commandId="de.prob.ui.trace.back"
                 icon="icons/back.gif"
                 label="Move Back in Trace"
                 style="push">
           </command>
           <command
                 commandId="de.prob.ui.trace.forward"
                 icon="icons/forward.gif"
                 label="Move Forward in Trace"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              locationURI="menu:de.prob.ui.randomoperation">
           <command
                 commandId="de.prob.ui.randomoperation"
                 label="Execute 1 Step"
                 style="push">
              <parameter
                    name="de.prob.ui.randomoperation.steps"
                    value="1">
              </parameter>
           </command>
           <command
                 commandId="de.prob.ui.randomoperation"
                 label="Execute 5 Steps"
                 style="push">
              <parameter
                    name="de.prob.ui.randomoperation.steps"
                    value="5">
              </parameter>
           </command>
           <command
                 commandId="de.prob.ui.randomoperation"
                 label="Execute 10 Steps"
                 style="push">
              <parameter
                    name="de.prob.ui.randomoperation.steps"
                    value="10">
              </parameter>
           </command>
           <command
                 commandId="de.prob.ui.randomoperation"
                 label="Enter Number of Steps"
                 style="push">
              <parameter
                    name="de.prob.ui.randomoperation.steps"
                    value="-1">
              </parameter>
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="popup:de.prob.ui.AnimationsView">
           <command
                 commandId="de.prob.ui.remove_trace"
                 icon="icons/rem_co.gif"
                 label="Remove Trace"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="popup:de.prob.ui.groovybinding">
           <command
                 commandId="de.prob.ui.remove_variable"
                 icon="icons/rem_co.gif"
                 label="Remove Variable"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="toolbar:de.prob.ui.BUnitView">
           <command
                 commandId="de.prob.ui.specifydirectory"
                 icon="icons/junit/etool16/new_testcase.gif"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="menu:analyze">
           <command
                 commandId="de.prob.ui.viz.pred"
                 label="Open Predicate Visualization"
                 style="push">
              <parameter
                    name="de.prob.ui.viz.eval"
                    value="enter">
              </parameter>
           </command>
           <command
                 commandId="de.prob.ui.viz.formula"
                 label="Open Time vs Value Visualization"
                 style="push">
              <parameter
                    name="de.prob.ui.viz.eval"
                    value="enter">
              </parameter>
           </command>
           <command
                 commandId="de.prob.ui.viz.statespace"
                 label="Open State Space Visualization"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="toolbar:de.prob.ui.model_check">
           <command
                 commandId="de.prob.ui.deadlock_check"
                 icon="icons/DeadlockCheck.png"
                 label="Deadlock Freedom Check"
                 mnemonic="D"
                 style="push">
           </command>
           <command
                 commandId="de.prob.ui.inv_check"
                 icon="icons/CBCInvariantCheck.png"
                 label="Invariant Preservation Check"
                 mnemonic="I"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="popup:de.prob.ui.StateView">
           <command
                 commandId="de.prob.ui.createFormViz"
                 style="push">
              <visibleWhen>
                 <with
                       variable="selection">
                    <iterate
                          operator="or">
                       <instanceof
                             value="de.prob.model.representation.IEval">
                       </instanceof>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
        </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      
            <command
            id="de.prob.ui.starteventbanimation"
            name="Event-B Animate / Model Check">
      </command>
            <command
                  id="de.prob.ui.trace.back"
                  name="Move Back in Trace">
            </command>
            <command
                  id="de.prob.ui.trace.forward"
                  name="Move Forward in Trace">
            </command>
            <command
                  id="de.prob.ui.randomoperation"
                  name="Execute Random Events">
               <commandParameter
                     id="de.prob.ui.randomoperation.steps"
                     name="Number of Steps"
                     optional="false">
               </commandParameter>
            </command>
            <command
                  description="Removes a trace from the animations object"
                  id="de.prob.ui.remove_trace"
                  name="Remove Trace">
            </command>
            <command
                  description="Removes a variable from the groovy shell"
                  id="de.prob.ui.remove_variable"
                  name="Remove Variable">
            </command>
            <command
                  defaultHandler="de.prob.ui.bunitview.SpecifyTestDirectoryHandler"
                  id="de.prob.ui.specifydirectory"
                  name="Specify Test Directory">
            </command>
            <command
                  id="de.prob.ui.bugreport"
                  name="Submit Bug Report">
            </command>
            <command
                  id="de.prob.ui.deadlock_check"
                  name="Deadlock Freedom Check">
            </command>
            <command
                  id="de.prob.ui.inv_check"
                  name="Invariant Preservation Check">
            </command>
            <command
                  id="de.prob.ui.viz.pred"
                  name="Open Predicate Visualization">
               <commandParameter
                     id="de.prob.ui.viz.eval"
                     name="eval"
                     optional="true">
               </commandParameter>
            </command>
            <command
                  id="de.prob.ui.viz.formula"
                  name="Open Value vs Time Visualization">
               <commandParameter
                     id="de.prob.ui.viz.eval"
                     name="eval"
                     optional="true">
               </commandParameter>
            </command>
            <command
                  id="de.prob.ui.viz.statespace"
                  name="Open State Space Visualization">
            </command>
            <command
                  description="Takes formula from State View and opens a visualization"
                  id="de.prob.ui.createFormViz"
                  name="Create Formula Visualization">
            </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">      
      <handler
            commandId="de.prob.ui.starteventbanimation">
         <class
               class="de.prob.ui.eventb.StartAnimationHandler">
         </class>
                     <enabledWhen>
      <with
            variable="selection">
         <iterate
               operator="or">
               <or>
            <instanceof
                  value="org.eventb.core.IEventBRoot">
            </instanceof>
            <and>
                 <instanceof
                       value="org.eclipse.core.resources.IResource">
                 </instanceof>
                 <or>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.core.resources.extension"
                       value="bum">
                 </test>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.core.resources.extension"
                       value="buc">
                 </test>
                 </or>
              </and>
              </or>
         </iterate>
      </with>
            </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.trace.back">
         <class
               class="de.prob.ui.operationview.TraceBackHandler">
         </class>
         <enabledWhen>
            <and>
               <with
                     variable="de.prob.ui.model_loaded">
                  <equals
                        value="enabled">
                  </equals>
               </with>
               <with
                     variable="de.prob.ui.trace.backward_service">
                  <equals
                        value="enabled">
                  </equals>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.trace.forward">
         <class
               class="de.prob.ui.operationview.TraceForwardHandler">
         </class>
         <enabledWhen>
            <and>
               <with
                     variable="de.prob.ui.model_loaded">
                  <equals
                        value="enabled">
                  </equals>
               </with>
               <with
                     variable="de.prob.ui.trace.forward_service">
                  <equals
                        value="enabled">
                  </equals>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.randomoperation">
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
         <class
               class="de.prob.ui.operationview.ExecuteRandomHandler">
         </class>
      </handler>
      <handler
            commandId="de.prob.ui.remove_trace">
         <class
               class="de.prob.ui.animationsview.RemoveTraceHandler">
         </class>
      </handler>
      <handler
            commandId="de.prob.ui.remove_variable">
         <class
               class="de.prob.ui.console.RemoveVariableHandler">
         </class>
      </handler>
      <handler
            commandId="de.prob.ui.specifytestdir">
         <class
               class="de.prob.ui.bunitview.SpecifyTestDirectoryHandler">
         </class>
      </handler>
      <handler
            commandId="de.prob.ui.bugreport">
         <class
               class="de.prob.ui.ticket.SubmitBugreportHandler">
         </class>
      </handler>
      <handler
            commandId="de.prob.ui.viz.pred">
         <class
               class="de.prob.ui.visualization.OpenPredicateVizHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.deadlock_check">
         <class
               class="de.prob.ui.constraint.DeadlockCheckHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.inv_check">
         <class
               class="de.prob.ui.constraint.InvariantCheckHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.viz.formula">
         <class
               class="de.prob.ui.visualization.OpenTimeValueVizHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.viz.statespace">
         <class
               class="de.prob.ui.visualization.OpenStateSpaceVizHandler">
         </class>
         <enabledWhen>
            <with
                  variable="de.prob.ui.model_loaded">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.prob.ui.createFormViz">
         <class
               class="de.prob.ui.stateview.CreateFormulaVisualizationHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.hhu.stups.prob"
            name="ProB">
      </category>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.operationview.OperationView"
            icon="icons/sample.gif"
            id="de.prob.ui.OperationView"
            name="Events">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.stateview.StateView"
            icon="icons/sample.gif"
            id="de.prob.ui.StateView"
            name="State Inspector">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.historyview.HistoryView"
            icon="icons/sample.gif"
            id="de.prob.ui.HistoryView"
            name="History">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.animationsview.AnimationsView"
            icon="icons/sample.gif"
            id="de.prob.ui.AnimationsView"
            name="Current Animations">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.console.GroovyConsole"
            icon="icons/groovy.png"
            id="de.prob.ui.groovyconsole"
            name="Groovy Console"
            restorable="true">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.GroovyBindingView"
            icon="icons/groovy.png"
            id="de.prob.ui.groovybinding"
            name="Global Variables"
            restorable="true">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.bunitview.BUnitView"
            icon="icons/sample.gif"
            id="de.prob.ui.BUnitView"
            name="BUnit Tests">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.statisticsview.StatisticsView"
            icon="icons/sample.gif"
            id="de.prob.ui.StatisticsView"
            name="Statistics">
      </view>
      <view
            category="de.hhu.stups.prob"
            class="de.prob.ui.modelcheckingview.ModelCheckingView"
            icon="icons/Consistency.png"
            id="de.prob.ui.model_check"
            name="Model Checking"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="de.hhu.stups.prob"
            class="de.prob.ui.visualization.VizView"
            id="de.prob.ui.viz.VizView"
            name="Visualization"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.prob.ui.operationview.OperationView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="de.prob.ui.historyview.HistoryView"
               minimized="false"
               relationship="stack">
         </view>
         <view
               id="de.prob.ui.stateview"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="de.prob.ui.services.TraceActiveProvider">
         <variable
               name="de.prob.ui.trace.forward_service"
               priorityLevel="workbench">
         </variable>
         <variable
               name="de.prob.ui.trace.backward_service"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <sourceProvider
            provider="de.prob.ui.services.ModelLoadedProvider">
         <variable
               name="de.prob.ui.model_loaded"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
