<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
          <menuContribution
            locationURI="menu:debug">
         <command
               commandId="de.prob.ui.groovyconsole"
               label="Groovy Console"
               mnemonic="G"
               style="push">
         </command>
      </menuContribution>
      
        <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <separator
               name="de.prob.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.prob.ui.starteventbanimation"
               icon="icons/prob.png"
               label="Start Animation / Model Checking"
               style="push">
            <visibleWhen>
      <with
            variable="selection">
         <iterate
               operator="or">
            <instanceof
                  value="org.eventb.core.IEventBRoot">
            </instanceof>
         </iterate>
      </with>
            </visibleWhen>
         </command>
         <separator
               name="de.prob.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
              <command
            categoryId="de.prob.ui.commands.category"
            id="de.prob.ui.groovyconsole"
            name="Open Groovy Console">
      </command>
      
            <command
            id="de.prob.ui.starteventbanimation"
            name="Event-B Animate / Model Check">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
 <handler
            commandId="de.prob.ui.groovyconsole">
         <class
               class="de.prob.ui.OpenGroovyConsole">
         </class>
      </handler>
      
      <handler
            commandId="de.prob.ui.starteventbanimation">
         <class
               class="de.prob.ui.eventb.StartAnimationHandler">
         </class>
                     <enabledWhen>
      <with
            variable="selection">
         <iterate
               operator="or">
               <or>
            <instanceof
                  value="org.eventb.core.IEventBRoot">
            </instanceof>
            <and>
                 <instanceof
                       value="org.eclipse.core.resources.IResource">
                 </instanceof>
                 <or>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.core.resources.extension"
                       value="bum">
                 </test>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.core.resources.extension"
                       value="buc">
                 </test>
                 </or>
              </and>
              </or>
         </iterate>
      </with>
            </enabledWhen>
      </handler>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.prob.ui"
            name="Sample Category">
      </category>
      <view
            category="de.prob.ui"
            class="de.prob.ui.views.HistoryBasedView"
            icon="icons/sample.gif"
            id="de.prob.ui.views.SampleView"
            name="History View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.prob.ui.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
