#events li {
	padding-left: 4px;
	cursor: pointer;
}

#events li:nth-child(odd) {
	background-color: white;
}

#events li:nth-child(even) {
	background-color: #f3f6ff;
}

.btn {
	padding-left: 5px;
	padding-right: 5px;
}

.toolbar {
	margin-bottom: 15px;
	border-bottom-color: #ddd;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	/* fallback */
	background-color: #e4e4e4;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff),
		to(#e4e4e4));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #ffffff, #e4e4e4);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #ffffff, #e4e4e4);
	/* IE 10 */
	background: -ms-linear-gradient(top, #ffffff, #e4e4e4);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #ffffff, #e4e4e4);
}

.enabled {
	list-style-image: url(/images/enabled.png);
}

#events li.notEnabled {
	list-style-image: url(/images/disabled.png);
	color: #888;
	cursor: not-allowed;
	font-style: italic;
}

#events li.timeout {
	list-style-image: url(/images/timeout.png);
	color: #888;
	cursor: not-allowed;
	font-style: italic;
}

.CodeMirror {
	border: 1px solid #000;
	background: #eee;
	height: auto;
	font-family: monospace;
	min-height: 20px;
}

.CodeMirror-wrap {
	min-height: 20px;
}

.input-wrap {
	margin-right: 10px;
	margin-left: 10px;
}

.hide-input {
	display: none;
}

.CodeMirror-hscrollbar {
	display: none;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.disabled {
	opacity: 0.1;
}

.my-alert {
	border-color: #F3DBAE;
	cursor: default;
}

.my-alert-btn {
	color: #c09853;
	background-color: #FAF5D9;
	border-color: #F3DBAE;
	margin-left: 10px;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=10);
    opacity: 0.1;
}