tr:nth-child(odd) {
	background-color: white;
	cursor: pointer;
}

tr:nth-child(even) {
	background-color: #f3f6ff;
	cursor: pointer;
}

th {
	background-color: #cccccc;
}

.selected {
	font-weight: bold;
}

.close-button {
	color: gray;
	cursor: pointer;
}

.close-button:hover {
	color: #660000;
}