<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.bmotionstudio.core.installActions" name="Install Actions for Editor" schema="schema/de.bmotionstudio.core.installActions.exsd"/>
   <extension-point id="de.bmotionstudio.core.installMenu" name="Context Menu" schema="schema/de.bmotionstudio.core.installMenu.exsd"/>
   <extension-point id="de.bmotionstudio.core.control" name="Control" schema="schema/de.bmotionstudio.core.control.exsd"/>
   <extension-point id="de.bmotionstudio.core.language" name="BMotion Studio Language Loader" schema="schema/de.bmotionstudio.core.language.exsd"/>
   <extension-point id="de.bmotionstudio.core.schedulerEvent" name="Scheduler Event" schema="schema/de.bmotionstudio.core.schedulerEvent.exsd"/>
   <extension-point id="de.bmotionstudio.core.observer" name="BMotion Studio Observer" schema="schema/de.bmotionstudio.core.observer.exsd"/>
   <extension-point id="de.bmotionstudio.core.paletteEntry" name="Add a custom Palette Entry" schema="schema/de.bmotionstudio.core.paletteEntry.exsd"/>
   <extension-point id="de.bmotionstudio.core.includeObserver" name="Include Observer Extension Point" schema="schema/de.bmotionstudio.core.includeObserver.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="bmso"
            icon="icons/logo_bmotion.png"
            id="de.bmotionstudio.core.BMotionStudioEditor"
            launcher="de.bmotionstudio.core.editor.BMotionStudioLauncher"
            name="BMotion Studio">
            </editor>
            </extension>
         <extension point="org.eclipse.ui.newWizards">
      <category
            id="de.bmotionstudio.core.wizards"
            name="BMotion Studio">
      </category>
      <wizard
            category="de.bmotionstudio.core.wizards"
            class="de.bmotionstudio.core.editor.NewBMotionProjectWizard"
            icon="icons/logo_bmotion.png"
            id="de.prob.bmotionstudio.NewBMotionProject"
            name="BMotion Studio Visualization"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.bmotionstudio.views"
            name="BMotion Studio">
      </category>
      <view
            allowMultiple="false"
            category="de.bmotionstudio.views"
            class="de.bmotionstudio.core.editor.view.library.LibraryView"
            icon="icons/logo_bmotion.png"
            id="de.bmotionstudio.core.view.LibraryView"
            name="Library"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="de.bmotionstudio.views"
            class="de.bmotionstudio.core.editor.VisualizationViewPart"
            icon="icons/logo_bmotion.png"
            id="de.bmotionstudio.core.view.VisualizationView"
            name="Visualization"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.bmotionstudio.views"
            class="de.bmotionstudio.core.editor.view.palette.BMSPaletteView"
            icon="icons/logo_bmotion.png"
            id="de.bmotionstudio.core.view.PaletteView"
            name="Palette"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.bmotionstudio.views"
            class="de.bmotionstudio.core.editor.view.outline.BMotionOutlineView"
            icon="icons/logo_bmotion.png"
            id="de.bmotionstudio.core.view.OutlineView"
            name="Outline"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.bmotionstudio.views"
            class="de.bmotionstudio.core.editor.view.observer.ObserverView"
            icon="icons/logo_bmotion.png"
            id="de.bmotionstudio.core.view.ObserverView"
            name="Observer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="de.bmotionstudio.core.menu"
               label="BMotion Studio">
            <command
                  commandId="de.bmotionstudio.core.command.openBMotionStudioWebsite"
                  label="Open website"
                  style="push">
            </command>
            <command
                  commandId="de.bmotionstudio.core.command.addVisualizationView"
                  label="Add Visualization View"
                  style="push">
            </command>
            <separator
                  name="group.filter"
                  visible="true">
            </separator>
            <command
                  commandId="de.bmotionstudio.command.startVisualizationFromEditor"
                  icon="icons/icon_run.png"
                  label="Start Visualization"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="de.bmotionstudio.core.BMotionStudioEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.bmotionstudio.core.toolbar">
            <command
                  commandId="de.bmotionstudio.command.startVisualizationFromEditor"
                  icon="icons/icon_run.png"
                  label="Start Visualization"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="de.bmotionstudio.core.BMotionStudioEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.bmotionstudio.core.editor.handler.OpenWebsiteHandler"
            id="de.bmotionstudio.core.command.openBMotionStudioWebsite"
            name="Open website">
      </command>
      <command
            id="de.bmotionstudio.command.startVisualizationFromEditor"
            name="Start Visualization from Editor">
      </command>
      <command
            defaultHandler="de.bmotionstudio.core.editor.handler.StartVisualizationFileHandler"
            id="de.bmotionstudio.command.startVisualizationFromFile"
            name="Start Visualization from File">
      </command>
      <command
            description="SnapToGeometry"
            id="org.eclipse.gef.toggle_snapto_geometry"
            name="SnapToGeometry">
      </command>
      <command
            description="ToggleGridVisibility"
            id="org.eclipse.gef.toggle_grid_visibility"
            name="ToggleGridVisibility">
      </command>
      <command
            description="ToggleRulerVisibility"
            id="org.eclipse.gef.toggle_ruler_visibility"
            name="ToggleRulerVisibility">
      </command>
      <command
            defaultHandler="de.bmotionstudio.core.editor.handler.AddVisualizationViewHandler"
            id="de.bmotionstudio.core.command.addVisualizationView"
            name="Add Visualization View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bmotionstudio.core.editor.handler.StartVisualizationEditorHandler"
            commandId="de.bmotionstudio.command.startVisualizationFromEditor">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.bmotionstudio.core.BMotionStudioEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   
 <extension
         point="de.bmotionstudio.core.control">
      <group
            id="de.bmotionstudio.core.group.main"
            name="Main">
      </group>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/eclipse16/image_obj.gif"
            name="Image"
            service="de.bmotionstudio.core.service.control.BImageService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/controls/icon_button.gif"
            name="Button"
            service="de.bmotionstudio.core.service.control.BButtonService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/controls/icon_radiobutton_c.gif"
            name="Radiobutton"
            service="de.bmotionstudio.core.service.control.BRadioButtonService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/controls/icon_checked.gif"
            name="Checkbox"
            service="de.bmotionstudio.core.service.control.BCheckboxService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/eclipse16/overview_obj.gif"
            name="Composite"
            service="de.bmotionstudio.core.service.control.BCompositeService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/controls/icon_text.gif"
            name="Text"
            service="de.bmotionstudio.core.service.control.BTextService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/controls/icon_textfield.gif"
            name="Textfield"
            service="de.bmotionstudio.core.service.control.BTextfieldService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/controls/icon_rectangle.gif"
            name="Rectanlge"
            service="de.bmotionstudio.core.service.control.BRectangleService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/controls/icon_ellipse.gif"
            name="Ellipse"
            service="de.bmotionstudio.core.service.control.BEllipseService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/controls/icon_connection16.gif"
            name="Connection"
            service="de.bmotionstudio.core.service.control.BConnectionService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/eclipse16/prop_ps.gif"
            name="Table"
            service="de.bmotionstudio.core.service.control.BTableService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/eclipse16/prop_ps2.gif"
            name="Column"
            service="de.bmotionstudio.core.service.control.BTableColumnService">
      </control>
      <control
            groupid="de.bmotionstudio.core.group.main"
            icon="icons/eclipse16/prop_ps3.gif"
            name="Cell"
            service="de.bmotionstudio.core.service.control.BTableCellService">
      </control>
      <control
            groupid="de.bmotionstudio.core.railway.group"
            icon="icons/controls/icon_signal.gif"
            name="Signal"
            service="de.bmotionstudio.core.service.control.SignalService">
      </control>
      <control
            groupid="de.bmotionstudio.core.railway.group"
            icon="icons/eclipse16/smartmode_co.gif"
            name="Light"
            service="de.bmotionstudio.core.service.control.LightService">
      </control>
      <group
            id="de.bmotionstudio.core.industry.group"
            name="Industry">
      </group>
      <control
            groupid="de.bmotionstudio.core.industry.group"
            icon="icons/controls/icon_tank.gif"
            name="Tank"
            service="de.bmotionstudio.core.service.control.TankService">
      </control>
      <group
            id="de.bmotionstudio.core.railway.group"
            name="Railway">
      </group>
      <control
            groupid="de.bmotionstudio.core.railway.group"
            icon="icons/controls/icon_tracknode.gif"
            name="Node"
            service="de.bmotionstudio.core.service.control.TrackNodeService">
      </control>
      <control
            groupid="de.bmotionstudio.core.railway.group"
            icon="icons/controls/icon_track.gif"
            name="Trac"
            service="de.bmotionstudio.core.service.control.TrackService">
      </control>
      <control
            groupid="de.bmotionstudio.core.railway.group"
            icon="icons/controls/icon_switch.gif"
            name="Switch"
            service="de.bmotionstudio.core.service.control.SwitchService">
      </control>
   </extension>
   <extension
         point="de.bmotionstudio.core.observer">
      <observer
            class="de.bmotionstudio.core.model.observer.ExpressionObserver">
      </observer>
      <observer
            class="de.bmotionstudio.core.model.observer.PredicateObserver">
      </observer>
   </extension>
   <extension
         point="de.bmotionstudio.core.installActions">
      <action
            class="de.bmotionstudio.core.InstallActions">
      </action>
   </extension>
   <extension
         point="de.bmotionstudio.core.installMenu">
      <menu
            class="de.bmotionstudio.core.InstallMenu">
      </menu>
   </extension>
   <extension
         point="de.bmotionstudio.core.language">
      <language
	        service="de.bmotionstudio.core.eventb.EventBLanguageService"
            id="EventB">
      </language>
   </extension>
   <extension
         point="de.bmotionstudio.core.includeObserver">
      <include
            language="EventB">
         <control
               id="de.bmotionstudio.core.image">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchImage">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.model.control.Button">
            <observer
                  id="de.bmotionstudio.core.model.observer.PredicateObserver">
            </observer>
            <observer
                  id="de.bmotionstudio.core.model.observer.ExpressionObserver">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.checkbox">
            <observer
                  id="de.bmotionstudio.core.observer.SimpleValueDisplay">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.radiobutton">
            <observer
                  id="de.bmotionstudio.core.observer.SimpleValueDisplay">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.textfield">
            <observer
                  id="de.bmotionstudio.core.observer.SimpleValueDisplay">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.composite">
            <observer
                  id="de.bmotionstudio.core.observer.SwitchImage">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchChildCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.text">
            <observer
                  id="de.bmotionstudio.core.observer.SimpleValueDisplay">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.rectangle">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchImage">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.connection">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.ellipse">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchImage">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.table">
            <observer
                  id="de.bmotionstudio.core.observer.TableObserver">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.tablecolumn">
            <observer
                  id="de.bmotionstudio.core.observer.ColumnObserver">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.tablecell">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.signal">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.light">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.tank">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.tracknode">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.track">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.switch">
            <observer
                  id="de.bmotionstudio.core.observer.ListenOperationByPredicate">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SetAttribute">
            </observer>
            <observer
                  id="de.bmotionstudio.core.observer.SwitchCoordinates">
            </observer>
         </control>
      </include>
      <include
            language="CSP">
         <control
               id="de.bmotionstudio.core.rectangle">
            <observer
                  id="de.bmotionstudio.core.observer.CSPEventObserver">
            </observer>
         </control>
         <control
               id="de.bmotionstudio.core.tank">
            <observer
                  id="de.bmotionstudio.core.observer.CSPEventObserver">
            </observer>
         </control>
      </include>   
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.bmotionstudio.core.BMotionStartup">
      </startup>
   </extension>
</plugin>
