.invisible {
    display: none;
}

.list {
    list-style: none;
}

.list li {
    cursor: pointer;
}

#content {
    padding-left: 10px;
    padding-right: 10px;
}

#results {
    padding-right: 40px; 
}

#sidebar {
    margin: 0px;
}

.waiting {
    color: #888;
    font-style: italic;
}

.success {
    color: #69AB86;
}

.failure {
    color: #C06666;
}

.not-complete {
    color: #888;
}

#content li {
    padding-left: 5px;
}

.selected {
    background-color: #ECECEC;
}

.event-selected {
    background-color: #ECECEC;
}

.result {
    padding: 30px 0px 0px 0px;
}

.progress-list {
    padding: 0px 20px 0px 20px;
}

.trace-button {
    text-align: center;
    padding-top: 10px;
}

.job {
    padding-bottom: 5px;
}

.break-after {
    padding-bottom: 10px;
}

.op-btn {
    margin-left: 2px;
    cursor: pointer;
}