				<div class="observer_type">
  					<h4 data-bind="text: observer.type"></h4>
					<a href="#" class="bt_observeritem bt_additem" data-bind="click: function() { $root.addItem(observer.objs, {'selector': 'selector', 'bindings' : [] }, true) }">Add Observer</a>
   				</div>
				<div class="observer_objs" data-bind="foreach: { data: observer.objs, as: 'obj' }, sortableList: observer.objs" list="objs">
 			   		<div class="observer_obj" data-bind="attr: { oid: obj.selector }">
			   	 		<h3 class="observer_head" data-bind="text: obj.selector"></h3>
						<div class="observer_content">
							<table class="observer_item bordered" cellpadding="5">
								<tr>
									<td class="ra">Selector</td>
									<td><a href="#" class="truncate" data-bind="editable: obj.selector, editableOptions: { type: 'textarea' }"></a></td>
								</tr>
							</table>
							<div class="observer_items" data-bind="foreach: { data: obj.bindings, as: 'binding' }, sortableList: obj.bindings" list="bindings">
								<div class="observer_item bordered">
									<table cellpadding="5">
										<tr><td class="ra">operation:</td><td><a href="#" class="truncate" data-bind="editable: binding.operation, editableOptions: { type: 'textarea' }"></a></td></tr>
										<tr><td class="ra">predicate:</td><td><a href="#" class="truncate" data-bind="editable: binding.predicate, editableOptions: { type: 'textarea' }"></a></td></tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>