<table>
 <tr>
  <td>Operation</td>
 </tr>
</table>
<table class="observer_actions" data-bind="foreach: { data: binding.ops, as: 'op' }" data-json='{"operation" : "", "parameter" : ""}' data-list="ops">
 <tr>
  <td><a href="#" style="width:95px;" class="truncate" data-bind="editable: op.operation, editableOptions: { type: 'textarea' }"></a></td>
  <td style="width:20px;">>></td>
  <td><a href="#" style="width:100px;" class="truncate" data-bind="editable: op.parameter, editableOptions: { type: 'textarea' }"></a></td>
  <td data-bind="click: function() { $root.deleteItem(op, binding.ops) }"><img src="/ui/bmsview/bms-editor/images/delete_10_10.gif" class="cursor_hand" /></td>
 </tr>
</table>