<div class="observer_item bordered">
<table cellpadding="5">
	<tr><td class="ra" data-bind="text:binding.type"></td><td><a href="#" class="truncate" data-bind="editable: binding.formula, editableOptions: { type: 'textarea' }"></a></td></tr>
</table>
<table cellpadding="5" data-bind="foreach: { data: binding.actions, as: 'act' }" class="action_items">
	<tr class="binding_action"><td>>></td><td><a href="#" class="truncate_act" data-bind="editable: act.attr, editableOptions: { type: 'textarea' }"></a></td><td>>></td><td><a href="#" class="truncate_act" data-bind="editable: act.value, editableOptions: { type: 'textarea' }"></a></td><td data-bind="click: function() { $root.deleteItem(act, binding.actions) }"><img src="/ui/bmsview/bms-editor/images/delete_10_10.gif" /></td></tr>
</table>
</div>