<table>
 <tr>
  <td>Variable</td>
  <td>
   <a href="#" style="width:95px;" class="truncate" data-bind="text: binding.variable, editable: binding.variable, editableOptions: { type: 'select', source: function() { return '/bmseditor/'+methodDraw.getWorkingSessionId()+'/?data=variables' } }"></a>
  </td>
 </tr>
</table>
<table class="observer_actions" data-json='{"result" : "", "attr" : "", "value" : ""}' data-list="actions">
 <tbody data-bind="foreach: { data: binding.actions, as: 'act' }">
 <tr>
  <td><a href="#" style="width:55px;" class="truncate" data-bind="editable: act.result, editableOptions: { type: 'textarea' }"></a></td>
  <td style="width:20px;">>></td>
  <td>
  <a href="#" style="width:50px;" class="truncate" data-bind="text: act.attr, attr: { selector: $parents[2].selector }, editable: act.attr, editableOptions: { type: 'select', source:  
										function() {
											try {
	    										var selector = $(this).attr('selector')
	    										var elementName = $(selector).prop('tagName')
	    										return svgAttributes[elementName];
											} catch(error) {
												return {}
											}
	    								}
										}"></a>	
  </td>
  <td style="width:20px;">>></td>
  <td><a href="#" style="width:55px;" class="truncate" data-bind="editable: act.value, editableOptions: { type: 'textarea' }"></a></td>
  <td style="width:20px;" data-bind="click: function() { $root.deleteItem(act, binding.actions) }"><img src="/ui/bmsview/bms-editor/images/delete_10_10.gif" class="cursor_hand" /></td>
 </tr>
 </tbody>
 <tbody>
  <tr>
  <td style="width:55px;font-style:italic;">Default</td>
  <td style="width:20px;">>></td>
  <td>
   <a href="#" style="width:50px;" class="truncate" data-bind="text: binding.default.attr, attr: { selector: $parents[1].selector }, editable: binding.default.attr, editableOptions: { type: 'select', source:  
										function() {
											try {
	    										var selector = $(this).attr('selector')
	    										var elementName = $(selector).prop('tagName')
	    										return svgAttributes[elementName];
											} catch(error) {
												return {}
											}
	    								}
										}"></a>	
  </td>
  <td style="width:20px;">>></td>
  <td><a href="#" style="width:55px;" class="truncate" data-bind="editable: binding.default.value, editableOptions: { type: 'textarea' }"></a></td>
  <td style="width:20px;">&nbsp;</td>
 </tr>
 </tbody>
</table>