li {
    list-style-type: none;
}

#events li {
    padding-left: 10px;
}

#events li:nth-child(odd) {
    background-color: white;
}

#events li:nth-child(even) {
    background-color: #f3f6ff;
}

.btn {
    padding-left: 5px;
    padding-right: 5px;
}

ul {
    padding-left: 0px;
}

.toolbar {
    margin-bottom: 15px;
    background-color: #eee;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}