<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">


	<listener>
		<listener-class>de.prob.worksheet.ServletContextListener</listener-class>
	</listener>
	<servlet>
		<display-name>SaveDocument</display-name>
		<servlet-name>SaveDocument</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.SaveDocument</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveDocument</servlet-name>
		<url-pattern>/saveDocument</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>NewDocument</display-name>
		<servlet-name>NewDocument</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.NewDocument</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewDocument</servlet-name>
		<url-pattern>/newDocument</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<display-name>SwitchBlock</display-name>
		<servlet-name>SwitchBlock</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.SwitchBlock</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SwitchBlock</servlet-name>
		<url-pattern>/switchBlock</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<display-name>LoadDocument</display-name>
		<servlet-name>LoadDocument</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.LoadDocument</servlet-class>
	</servlet>
	<servlet>
		<display-name>SetBlock</display-name>
		<servlet-name>SetBlock</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.SetBlock</servlet-class>
	</servlet>
	<servlet>
		<display-name>GetBlock</display-name>
		<servlet-name>GetBlock</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.GetBlock</servlet-class>
	</servlet>
	<servlet>
		<display-name>CloseDocument</display-name>
		<servlet-name>CloseDocument</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.CloseDocument</servlet-class>
	</servlet>
	<servlet>
		<display-name>Evaluate</display-name>
		<servlet-name>Evaluate</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.Evaluate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadDocument</servlet-name>
		<url-pattern>/loadDocument</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetBlock</servlet-name>
		<url-pattern>/setBlock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetBlock</servlet-name>
		<url-pattern>/getBlock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseDocument</servlet-name>
		<url-pattern>/closeDocument</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Evaluate</servlet-name>
		<url-pattern>/evaluate</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>worksheet.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<description>Worksheet Module</description>
		<param-name>module</param-name>
		<param-value>de.prob.worksheet.WorksheetModule</param-value>
	</context-param>

</web-app>