<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">


	<listener>
		<listener-class>de.prob.worksheet.ServletContextListener</listener-class>
	</listener>
	<servlet>
		<display-name>saveDocument</display-name>
		<servlet-name>saveDocument</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.saveDocument</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveDocument</servlet-name>
		<url-pattern>/saveDocument</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>newDocument</display-name>
		<servlet-name>newDocument</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.newDocument</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newDocument</servlet-name>
		<url-pattern>/newDocument</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<display-name>SwitchBlock</display-name>
		<servlet-name>SwitchBlock</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.SwitchBlock</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SwitchBlock</servlet-name>
		<url-pattern>/SwitchBlock</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<display-name>loadDocument</display-name>
		<servlet-name>loadDocument</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.loadDocument</servlet-class>
	</servlet>
	<servlet>
		<display-name>setBlock</display-name>
		<servlet-name>setBlock</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.setBlock</servlet-class>
	</servlet>
	<servlet>
		<display-name>getBlock</display-name>
		<servlet-name>getBlock</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.getBlock</servlet-class>
	</servlet>
	<servlet>
		<display-name>closeDocument</display-name>
		<servlet-name>closeDocument</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.closeDocument</servlet-class>
	</servlet>
	<servlet>
		<display-name>evaluate</display-name>
		<servlet-name>evaluate</servlet-name>
		<servlet-class>de.prob.worksheet.servlets.evaluate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadDocument</servlet-name>
		<url-pattern>/loadDocument</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>setBlock</servlet-name>
		<url-pattern>/setBlock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getBlock</servlet-name>
		<url-pattern>/getBlock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>closeDocument</servlet-name>
		<url-pattern>/closeDocument</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>evaluate</servlet-name>
		<url-pattern>/evaluate</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>worksheet.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<description>Worksheet Module</description>
		<param-name>module</param-name>
		<param-value>de.prob.worksheet.WorksheetModule</param-value>
	</context-param>

</web-app>