li {
	list-style-type: none;
}

tr:nth-child(even) {
	background-color: #f0f0f0;
}

.table thead tr th {
	text-align: center;
	vertical-align: text-top;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
}

.table tbody tr td { 
     border-top: none;
     border-left: 1px solid #d3d3d3; 
     padding-left: 10px;
     padding-top: 2px;
     padding-bottom: 2px;
}

.table {
	margin-top: 10px;
	border: 2px solid #d3d3d3;
}

.component {
	padding-left: 10px;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.heading {
	font-style: italic;
}

.changed {
	font-weight: bold;
}

.tiny-indent {
	padding-left: 10px;
}

.small-indent {
	padding-left: 30px;
}

.large-indent {
	padding-left: 50px;
}

.x-large-indent {
	padding-left: 70px;
}

.xx-large-indent {
	padding-left: 90px;
}

.xxx-large-indent {
	padding-left: 110px;
}

.CodeMirror {
	border: 1px solid #000;
	background: #eee;
	height: auto;
	font-family: monospace;
	min-height: 20px;
}

.CodeMirror-wrap {
	min-height: 20px;
}

.CodeMirror-hscrollbar {
	display: none;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.question {
	font-style: italic;
	color: gray;
}

.response {
	font-weight: bold;
}

.outbox {
	margin-bottom: 6px;
	background-color: #f3f6ff;
	padding-left: 5px;
	font-family: monospace;
}

.disabled {
    opacity: 0.1;
}


._empty {
	display: none;
}


#edit {
	padding-right: 10px;
	cursor: pointer;
}

.dismissable {
	padding-bottom: 2px;
}

.dismiss {
	padding-top: 12px;
	padding-right: 10px;
}

.close {
	font-size: 14px;
	opacity: 0.1;
}

.true {
	color: green;
	font-weight: bold;
}

.false {
	color: red;
	font-weight: bold;
}

.not-well-defined {
	color: darkorange;
	font-weight: bold;
}

.enum-warning {
	color: darkred;
	font-weight: bold;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=10);
    opacity: 0.1;
}