li {
	list-style-type: none;
}

li:nth-child(odd) {
	background-color: white;
}

.future {
    font-style: italic;
    color: #888;
}

.current {
    font-weight: bold;
}

li:nth-child(even) {
	background-color: #f3f6ff;
}

ul {
    padding-left: 0px;
}