li {
	list-style-type: none;
    cursor: pointer;
}

li:nth-child(odd) {
	background-color: white;
}

.future {
    font-style: italic;
    color: #888;
}

.current {
    font-weight: bold;
}

.start {
    color: #bbb;
    letter-spacing: 2px;
    font-family: "Courier New", Courier, monospace;
}