<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.menus">
<menuContribution
              allPopups="true"
              locationURI="toolbar:org.eclipse.ui.main.toolbar">
           <toolbar
                 id="de.prob.ui.openWorksheetEditorToolbar"
                 label="%toolbar.label">
              <command
                    commandId="de.prob.ui.openWorksheetEditor"
                    disabledIcon="icons/dtool16/new_tsk.png"
                    icon="icons/etool16/new_tsk.png"
                    label="%command.label"
                    style="push"
                    tooltip="Open a new Worksheet">
              </command>
           </toolbar>
        </menuContribution>
</extension>
<extension
         point="org.eclipse.ui.commands">
            <command
                  categoryId="org.eclipse.ui.category.edit"
                  defaultHandler="de.prob.ui.worksheet.OpenWorksheetEditorHandler"
                  id="de.prob.ui.openWorksheetEditor"
                  name="%command.name">
            </command>
          </extension>
   <extension
	      point="org.eclipse.ui.editors">
	      <editor
             class="de.prob.ui.worksheet.editors.Worksheet"
             default="true"
             extensions="prob_wsh"
             icon="icons/obj16/worksheet_obj.png"
             id="de.prob.ui.worksheetEditor"
             name="%editor.name">
           <!--
             	icon="icons/obj16/editor.png"
      	 		contributorClass="org.eclipse.ui.examples.readmetool.ReadmeEditorActionBarContributor">-->
	</editor>
	</extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.prob.ui.worksheet.OpenWorksheetEditorHandler"
            commandId="de.prob.ui.openWorksheetEditorHandler">
      </handler>
   </extension>

</plugin>
