@CHARSET "US-ASCII";

.CodeMirror {
	border: 1px solid #000;
	background: #eee;
	height: auto;
	font-family: monospace;
}

.CodeMirror-hscrollbar {
	display: none;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.renderer {
	padding-left: 15px;
	border-left-style: dashed;
	border-left-width: 1px;
	background-color: rgb(238, 238, 238);
}

.topmenu {
	background-color: #666666;
	color: white;
	font-size: 8px;
}

.top-bar {
	margin-top: 40px;
	margin-bottom: 10px;
}

img.preload {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -4px;
}

.worksheetbox {
    margin-top:4px;
    margin-bottom:4px;
	min-height: 32px;
	border: 1px dashed #aaa;
	height: auto;
	padding-top: 8px;
	border-radius: 8px;
}

.ui-sortable-placeholder {
	border: 3px dashed #aaa;
	background: #ccc;
	min-height: 45px;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0px;
}

.editorbox {
	float: left;
	min-height: 32px;
}

.controlfield {
	float: left;
	min-height: 32px;
	padding-left: 4px;
}

.close {
	margin-top: -1px;
	margin-left: 0px;
	margin-right: 2px;
	font-size: 30px;
	color: #660000;
	opacity: 0.5;
	float: left;
}

.close:hover {
	color: #660000;
	opacity: 1;
}

.jserror {
	color: red;
}