<html>
  <head>
    <title>ProB 2.0</title>
    <meta charset="utf-8">
    {% if dev %}
    {% style "css/bootstrap.css" %}
    {% style "css/prob2.css" %}
    {% else %}
    {% style "css/bootstrap.min.css" %}
    {% style "css/prob2.css" %}
    {% endif %}
  </head>
  <body>

    <div id="sv1" data-type="state-view" ></div>
    <div id="sv2" data-type="history-view" ></div>
    <div id="sv3" data-type="state-view" ></div>
    {% if dev %}
    {% script "js-libs/bootstrap.js" %}
    {% else %}
    {% style "js-libs/bootstrap.min.js" %}
    {% endif %}
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
