<html>
  <head>
    <title>ProB 2.0</title>
    <meta charset="utf-8">
    {% style "css-libs/bootstrap.min.css" %}
    {% style "css-libs/nv.d3.css" %}
    {% style "css-libs/bootflat.css" %}
    {% style "css-libs/codemirror.css" %}
    {% style "css/prob2.css" %}
  </head>
  <body>
    <a id="jira">Report a bug</a>
    <div id="app"></div>
    <!-- <div id="ss" data-type="history-view"></div> -->

    {% script "js-libs/jquery.min.js" %}
    {% script "js-libs/bootstrap.min.js" %}
    {% script "js-libs/keymaster.js" %}
    {% script "js-libs/icheck.min.js" %}
    {% script "js-libs/jquery.fs.selecter.min.js" %}
    {% script "js-libs/jquery.fs.stepper.min.js" %}
    {% script "js-libs/d3.v3.js" %}
    {% script "js-libs/nv.d3.js" %}
    {% script "js-libs/cytoscape.min.js" %}
    {% script "js-libs/cytoscape-css-renderer.js" %}
    {% script "js-libs/dagre.min.js" %}
    {% script "js-libs/dagre-d3.min.js" %}
    {% script "js-libs/graphlib-dot.js" %}
    {% script "js-libs/codemirror.js" %}



    <script type="text/javascript" src="https://probjira.atlassian.net/s/6e81263fb50b7acd93d052d1547b0230-T/en_USvr1zog/64014/31/1.4.24/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=9e060bbf"></script>
    <script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
      "triggerFunction": function(showCollectorDialog) {
      //Requires that jQuery is available!
      jQuery("#jira").click(function(e) {
      e.preventDefault();
      showCollectorDialog();
      });
      }};</script>


    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
